*~
*.asv
Report/Presentation_final.pptx
Report/Presentation_final_v2.pptx
Report/Presentation_slide_nico.pptx
*.pptx
Report/Final report/main.pdf
Report/Final report/main.pdf
Report/Final report/main.pdf
Report/Final report/main.log
Report/Final report/main.aux
Report/Final report/main.synctex.gz
Report/Final report/main.aux
Report/Final report/main.bbl
Report/Final report/main.blg
Report/Final report/main.log
Report/Final report/main.log
*.log
*.aux
Report/Final report/main.pdf
Report/Final report/main.synctex.gz
